<% layout("layouts/boilerplate") %>

<div class="container" style="margin-top: 2rem;">
    <div class="">
        <h3 style="font-weight: 600;">Welcome to your Profile</h3>
    </div>
    <div class="card show-card product-card">
        <div class="card-body">
            <% if (userProfile) { %>
                <div class=" profile-wrapper">
                    <p><span>Name: </span><%= userProfile.name || "N/A" %></p>
                    <p><span>Address: </span><%= userProfile.address || "N/A" %> </p>
                    <p><span>City: </span><%= userProfile.city || "N/A" %> </p>
                    <p><span>State: </span><%= userProfile.state || "N/A" %> </p>
                    <p><span> Postal Code: </span><%= userProfile.postalcode || "N/A" %> </p>
                    <p><span>Phone Number: </span>+91 <%= userProfile.phonenumber || "N/A" %> </p> 
                </div>

                <a href="/user/profile/edit" class="btn">Edit Profile</a>

            <% } else { %>
                <p class="card-text">
                    No profile created. Please create your profile.
                </p>
                <a style="margin-top: 5rem;" href="/user/profile/new" class="btn">Create Profile</a>
            <% } %>
        </div>
    </div>
</div>
